<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      

      <div class="card" id="grocery-card">
          <h2 class="card-header"><%= grocery.name %></h2>
<ul class="list-group">
  <li class="list-group-item" id="grocery-card-item">
      <p>Price: $<%= grocery.price %></p>
      <% if(currentUser) { %>
        <% include ../purchaseds/purchasing.ejs %>
      <% } %>
      </li>
    </ul>

    </div>
      <a href="/lists/<%= grocery.listId %>/groceries/<%= grocery.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/lists/<%= grocery.listId %>/groceries/<%= grocery.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>

      <a href="/lists/<%= grocery.listId %>">Back to list</a>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>