<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <% include ../static/partials/messages.ejs %>
      <h1><%= list.title %></h1>
      <p><%= list.description %></p>
      <a href="/lists/<%= list.id %>/groceries/new" class="btn btn-warning">Add new Grocery</a>
     

  
      <ul class="list-group">
        <% list.groceries.forEach((grocery) => { %>
          <li class="list-group-item">
            <a href="/lists/<%= list.id %>/groceries/<%= grocery.id %>"> <%= grocery.name %> </a>
            <% if(currentUser) { %>
              <% include ../purchaseds/purchasing.ejs %>
            <% } %>
          </li>
       <% }) %>
      </ul>

      <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/lists/<%= list.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        
      </form>

      <a href="/lists">Back to Lists</a>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>