<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <% include ../static/partials/messages.ejs %>

      
     

  <div class="card" id="list-card">
      <h2 class="card-header.text-center"><%= list.title %></h2>
      <p><%= list.description %></p>
      <ul class="list-group">
        <% list.groceries.forEach((grocery) => { %>
          
          <li class="list-group-item">
            <a id="list-of-grocery-item" href="/lists/<%= list.id %>/groceries/<%= grocery.id %>"> <%= grocery.name %> </a>
            <% if(currentUser) { %>
              <% include ../purchaseds/purchasing.ejs %>
            <% } %>
          </li>
       
       <% }) %>
      </ul>
    </div>

    <a href="/lists/<%= list.id %>/groceries/new" class="btn btn-warning">Add new Grocery</a>
      <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/lists/<%= list.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        
      </form>

      <a href="/lists" class="btn btn-primary">Back to Lists</a>
    </main>
    
    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>