
 <% const purchased = grocery.getPurchasedFor(currentUser.id) %>
 <% if (!purchased) { %>  

 <form onsubmit="buttonClicked()" style="display: initial;" action="/lists/<%= grocery.listId %>/groceries/<%= grocery.id %>/purchaseds/create" method="post">
   <button type="submit" class="badge badge-warning badge-pill float-right">Need it</button>
 </form>

 <% } else if(purchased) { %>  
    
 <form onsubmit="buttonClicked()" style="display: initial;" action="/lists/<%= grocery.listId %>/groceries/<%= grocery.id %>/purchaseds/<%= purchased.id %>/destroy" method="post">
   <button  type="submit" class="badge badge-primary badge-pill float-right">Got it</button>
 </form>
  
  
  
 
 <% } %>

 <script src="/socket.io/socket.io.js"></script>
 <script>
   var socket = io.connect();
   function buttonClicked() {
     socket.emit('clicked');
   }
   socket.on('updateView', function(){location.reload()});

 </script>