
 <% const purchased = grocery.getPurchasedFor(currentUser.id) %>
 <% if (purchased) { %>  <p class="badge badge-primary badge-pill" >Got It</p>
    
   <form style="display: initial;" action="/lists/<%= grocery.listId %>/groceries/<%= grocery.id %>/purchaseds/<%= purchased.id %>/destroy" method="post">
     <button type="submit" class="btn btn-danger float-right">Remove from cart</button>
   </form>

 <% } else { %>   <p class="badge badge-warning badge-pill">Need it</p>

   <form style="display: initial;" action="/lists/<%= grocery.listId %>/groceries/<%= grocery.id %>/purchaseds/create" method="post">
     <button type="submit" class="btn btn-primary float-right">Add to cart</button>
   </form>
 
 <% } %>