 <!-- #1 -->
 <% const purchased = grocery.getPurchasedFor(currentUser.id) %>
 <% if (purchased) { %>
   <form style="display: initial;" action="/lists/<%= grocery.listId %>/groceries/<%= grocery.id %>/purchaseds/<%= purchased.id %>/destroy" method="post">
     <button type="submit" class="btn btn-danger">Uncheck</button>
   </form>
 <% } else { %>
  <!-- #2 -->
   <form style="display: initial;" action="/lists/<%= grocery.listId %>/groceries/<%= grocery.id %>/purchaseds/create" method="post">
     <button type="submit" class="btn btn-primary">Check</button>
   </form>
 <% } %>